<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>XX种质资源数据管理系统</title>
    <meta name="description" content="XX种质资源数据管理系统" />
    <meta name="keywords" content="XX种质资源数据管理系统" />
    <link rel="stylesheet" type="text/css" media="all" href="../style/style.css" />
    <script src="../style/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="../style/jquery.error.js" type="text/javascript"></script>
    <script src="../style/jtemplates.js" type="text/javascript"></script>
    <script src="../style/jquery.form.js" type="text/javascript"></script>
    <script src="../style/lazy.js" type="text/javascript"></script>
    <script type="text/javascript" src="../style/wp-sns-share.js"></script>
    <script type="text/javascript" src="../style/voterajax.js"></script>
    <script type="text/javascript" src="../style/userregister.js"></script>
    <link rel="stylesheet" href="../style/votestyles.css" type="text/css" />
    <link rel="stylesheet" href="../style/voteitup.css" type="text/css" />
    <link rel="stylesheet" href="../style/list.css" type="text/css" />
</head>

<body id="list_style_2" class="list_style_2">
    <script>
        function subForm() {
            formsearch.submit();
            //form1为form的id
        }
    </script>
    <script type="text/javascript">
        function showMask() {
            $("#mask").css("height", $(document).height());
            $("#mask").css("width", $(document).width());
            $("#mask").show();
        }  
    </script>
    <div id="mask" class="mask" onclick="CloseMask()"></div>
    <div id="header_wrap">
        <div id="header">
            <div style="float: left; width: 200px;">
                <h1>
                    <a href="/" title="DEMO12演示站">DEMO12演示站</a>
                    <div class="" id="logo-sub-class">
                    </div>
                </h1>
            </div>
            <div class="navi">
                <ul class="jsddm">
                    <li><a class="navi_home" href="/">首页</a></li>
                    <li><a class="navi_home" target="_blank"
                            href="http://www.chuanke.com/s2260700.html">ThinkPHP5视频教程</a></li>
                    <li><a href="/plus/list.php?tid=1">单车分类</a>
                        <ul>

                            <li><a href="/plus/list.php?tid=5">死飞车</a></li>
                            <li><a href="/plus/list.php?tid=6">复古骑行</a></li>
                            <li><a href="/plus/list.php?tid=7">公路车</a></li>
                            <li><a href="/plus/list.php?tid=8">山地车</a></li>
                            <li><a href="/plus/list.php?tid=9">折叠/小径车</a></li>
                            <li><a href="/plus/list.php?tid=10">BMX</a></li>
                            <li><a href="/plus/list.php?tid=11">城市车及其他</a></li>

                        </ul>

                        </li2>
                    <li><a href="/plus/list.php?tid=2">骑行装备</a>
                        <ul>

                            <li><a href="/plus/list.php?tid=12">车身装备</a></li>
                            <li><a href="/plus/list.php?tid=13">人身装备</a></li>

                        </ul>

                        </li2>
                    <li><a href="/plus/list.php?tid=3">单车生活</a>

                        </li2>
                    <li><a href="/plus/list.php?tid=4">行业资讯</a>

                        </li2>

                </ul>

                <div style="clear: both;">
                </div>

            </div>
            <div style="float: right; width: 375px;">
                <div class="widget" style="height: 30px; padding-top: 20px;">
                    <div style="float: left;">
                        <form name="formsearch" action="/plus/search.php">
                            <input type="hidden" name="kwtype" value="0">
                            <input name="q" type="text"
                                style="background-color: #000000;padding-left: 10px; font-size: 12px;font-family: 'Microsoft Yahei'; color: #999999;height: 29px; width: 160px; border: solid 1px #666666; line-height: 28px;"
                                id="go" value="在这里搜索..." onfocus="if(this.value=='在这里搜索...'){this.value='';}"
                                onblur="if(this.value==''){this.value='在这里搜索...';}" />
                        </form>
                    </div>
                    <div class="widget" style="float: right; height: 30px; padding-top: 5px; align-content: center;">
                        <span style="vertical-align:middle; font-size: medium; color: #c3c6ca;">
                        </span> <!-- 最大21个数字 -->
                    </div>
                    <div style="clear: both;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <div id="wrapper">


        <div id="xh_container">
            <div id="xh_content">

                <div class="path"><a href='#'>主页</a> > <a href='/lookbike/'>单车分类</a> > </div>
                <div class="clear"></div>
                <div class="xh_area_h_3" style="margin-top: 40px;">

                    <div class="xh_post_h_3 ofh">
                        <div class="xh">
                            <a target="_blank" href="/lookbike/bmx/240.html"
                                title="Alain Massabova: 40 Years in Paris BMX 视频">
                                <img src="../images/200.jpg" alt="Alain Massabova: 40 Years in Paris BMX 视频" height="240"
                                    width="240"></a>
                        </div>
                        <div class="r ofh">
                            <h2 class="xh_post_h_3_title ofh" style="height:60px;">
                                <a target="_blank" href="/lookbike/bmx/240.html"
                                    title="Alain Massabova: 40 Years in Paris BMX 视频">Alain Massabova: 40 Years in Paris
                                    BMX 视频</a>
                            </h2>
                            <span class="time">2014年02月06日</span>
                            <div class="xh_post_h_3_entry ofh" style="color:#555;height:80px; overflow:hidden;">
                                Alain Massabova最近就走到巴黎，与导演JC Pieri合作，为《ART BMX Magazine》制作出最新的《40 Years in
                                Paris》视频短片。这次Massabova...

                            </div>
                            <div class="b">
                                <a href="/lookbike/bmx/240.html" class="xh_readmore" rel="nofollow">read
                                    more</a> <span title="0人赞" class="xh_love"><span
                                        class="textcontainer"><span>0</span></span> </span> <span title="88人浏览"
                                    class="xh_views">
                                    88</span>
                            </div>
                        </div>
                    </div>
                    

                    <div id="pagination">
                        <div class="wp-pagenavi">
                            <span class="current">1</span><a class="page larger" href='list_2.html'>2</a><a
                                class="page larger" href='list_3.html'>3</a><a class="page larger"
                                href='list_4.html'>4</a><a class="page larger" href='list_5.html'>5</a><a
                                class="page larger" href='list_6.html'>6</a><a class="page larger"
                                href='list_7.html'>7</a><a class="page larger" href='list_8.html'>8</a><a
                                class="page larger" href='list_9.html'>9</a><a class="page larger"
                                href='list_10.html'>10</a><a class="page larger" href='list_11.html'>11</a><a
                                class="page larger" href='list_2.html'>下一页</a><a class="page larger"
                                href='list_28.html'>末页</a><span class="pages">共 28 页，280条</span>

                        </div>
                    </div>
                </div>
            </div>
            <div id="xh_sidebar">
                <!-- 右侧 -->

                <div class="widget">

                    <div
                        style="background: url('../style/img/hots_bg.png') no-repeat scroll 0 0 transparent;width:250px;height:52px;margin-bottom:15px;">
                    </div>
                    <ul id="ulHot">

                        <li style="border-bottom:dashed 1px #ccc;height:70px; margin-bottom:15px;">
                            <div style="float:left;width:85px;height:55px; overflow:hidden;"><a
                                    href="/lookbike/roadbicycle/110.html" target="_blank"><img src="../images/68.png"
                                        width="83" title="环西冠军克里斯霍纳的个性化定制座驾 Trek Madone公路车" /></a></div>
                            <div style="float:right;width:145px;height:52px; overflow:hidden;"><a
                                    href="/lookbike/roadbicycle/110.html" target="_blank"
                                    title="环西冠军克里斯霍纳的个性化定制座驾 Trek Madone公路车">环西冠军克里斯霍纳的个性化定制座驾 Trek Ma</a></div>
                        </li>
                        <li style="border-bottom:dashed 1px #ccc;height:70px; margin-bottom:15px;">
                            <div style="float:left;width:85px;height:55px; overflow:hidden;"><a
                                    href="/lookbike/small/184.html" target="_blank"><img src="../images/146.jpg"
                                        width="83" title="英式折叠车Brompton Junction 上海旗舰店" /></a></div>
                            <div style="float:right;width:145px;height:52px; overflow:hidden;"><a
                                    href="/lookbike/small/184.html" target="_blank"
                                    title="英式折叠车Brompton Junction 上海旗舰店">英式折叠车Brompton Junction 上海旗舰店</a></div>
                        </li>
                        <li style="border-bottom:dashed 1px #ccc;height:70px; margin-bottom:15px;">
                            <div style="float:left;width:85px;height:55px; overflow:hidden;"><a
                                    href="/lookbike/vintagebicycle/57.html" target="_blank"><img src="../images/17.jpg"
                                        width="83" title="延时胶片摄影：上海复古骑行大会" /></a></div>
                            <div style="float:right;width:145px;height:52px; overflow:hidden;"><a
                                    href="/lookbike/vintagebicycle/57.html" target="_blank"
                                    title="延时胶片摄影：上海复古骑行大会">延时胶片摄影：上海复古骑行大会</a></div>
                        </li>
                        <li style="border-bottom:dashed 1px #ccc;height:70px; margin-bottom:15px;">
                            <div style="float:left;width:85px;height:55px; overflow:hidden;"><a
                                    href="/lookbike/small/199.html" target="_blank"><img src="../images/159.jpg"
                                        width="83" title="Brompton小布2012女王纪念版" /></a></div>
                            <div style="float:right;width:145px;height:52px; overflow:hidden;"><a
                                    href="/lookbike/small/199.html" target="_blank"
                                    title="Brompton小布2012女王纪念版">Brompton小布2012女王纪念版</a></div>
                        </li>
                        <li style="border-bottom:dashed 1px #ccc;height:70px; margin-bottom:15px;">
                            <div style="float:left;width:85px;height:55px; overflow:hidden;"><a
                                    href="/lookbike/bmx/213.html" target="_blank"><img src="../images/181.png" width="83"
                                        title="街头气息十足 Stussy 2013 秋冬系列新品LOOKBOOK" /></a></div>
                            <div style="float:right;width:145px;height:52px; overflow:hidden;"><a
                                    href="/lookbike/bmx/213.html" target="_blank"
                                    title="街头气息十足 Stussy 2013 秋冬系列新品LOOKBOOK">街头气息十足 Stussy 2013 秋冬系列新品LOOKB</a></div>
                        </li>



                    </ul>
                </div>

                <div class="widget portrait">
                    <div>
                        <div class="textwidget">
                            <a href="/tougao.html"><img src="../style/img/tg.jpg" alt="鎶曠ǹ"></a><br><br>
                            <script type="text/javascript">BAIDU_CLB_fillSlot("870073");</script>
                            <script type="text/javascript">BAIDU_CLB_fillSlot("870080");</script>
                            <script type="text/javascript">BAIDU_CLB_fillSlot("870081");</script>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clear">
            </div>
        </div>
        <div class="boxBor"></div>

        <div class="boxBor" onclick="IBoxBor()" style="cursor:pointer;"></div>
        <script type="text/javascript">
            $(function () {
                var imgHoverSetTimeOut = null;
                $('.xh_265x265 img').hover(function () {
                    var oPosition = $(this).offset();
                    var oThis = $(this);
                    $(".boxBor").css({
                        left: oPosition.left,
                        top: oPosition.top,
                        width: oThis.width(),
                        height: oThis.height()
                    });
                    $(".boxBor").show();
                    var urlText = $(this).parent().attr("href");
                    $("#hdBoxbor").val(urlText);
                }, function () {
                    imgHoverSetTimeOut = setTimeout(function () { $(".boxBor").hide(); }, 500);
                });
                $(".boxBor").hover(
                    function () {
                        clearTimeout(imgHoverSetTimeOut);
                    }
                    , function () {
                        $(".boxBor").hide();
                    }
                );
            });
            function IBoxBor() {
                window.open($("#hdBoxbor").val());
            }
            function goanewurl() {
                window.open($("#hdUrlFocus").val());
            }
        </script>

    </div>

    <div id="footer_wrap">
        <div id="footer">
            <div class="footer_navi">
                <ul id="menu-%e5%b0%be%e9%83%a8%e5%af%bc%e8%88%aa" class="menu">
                    <li id="menu-item-156"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-156">
                        <a href="/aboutus.html">关于我们</a>
                    </li>
                    <li id="menu-item-157"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-157">
                        <a href="/news/">行业资讯</a>
                    </li>
                    <li id="menu-item-158"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-158">
                        <a href="/tougao.html">我要投稿</a>
                    </li>
                </ul>
            </div>
            <div class="footer_info">
                <span class="legal">Copyright &#169; 2016-2020;<a href="#">
                        京ICP备******号</a>&#160;&#160;&#160;
            </div>
        </div>
    </div>
    <div style="display: none;" id="scroll">
    </div>
    <script type="text/javascript" src="../style/z700bike_global.js"></script>

</body>

</html>